body{
    background: #333;
    margin:0;
    padding:0;
    font-family: "Arial Black", sans-serif;
}
.container{
    width:360px;
    height:640px;
    background-image: url(pic2.png);
    background-size: cover;

    position: absolute;
    top:50%;
    left:50%;
    color:white;
    text-align:center;


}
.container h1{
    font-size:40px;
    margin-top:125px;
    margin-bottom: 60px;
}
.tbox{
    width: 260px;
    height:40px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 10px auto;

}
.tbox input{
    background:#FFFFFF;
    border:none;
    outline: none;
    text-align:center;
    width:90%;
    line-height: 37px;
    font-family: "Arial Black", sans-serif;
    font-size:14px;
  text-decoration: #FFFFFF;
    color:#333;

}
.btn{
    width: 260px;
    height:40px;
    background:#3498db;
    border-radius: 10px;
    margin: 14px auto;
    display:block;
    font-family: "Arial Black", sans-serif;
    font-size: 16px;
    border:none;
    color: white;
    cursor:pointer;
}

 .b2{
     position:inherit;
     bottom:80px;
     left:50%;
     transform:translateX(-50%);
     width: 260px;
     padding: 10px 0;
     text-decoration:none;
     text-align:center;
     transition: 0.4s all;
     color: #FFCC00;

 }

 a:hover{
    background:#00000040;
 }
 .btn:hover{
                 background:#00000040;
 }
